flask
flask-sqlalchemy
spacy
gunicorn
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.1/en_core_web_sm-3.7.1-py3-none-any.whl
https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.7.1/pt_core_news_sm-3.7.1-py3-none-any.whl
